:root {
  --cell-dimension: 100px;
  --piece-dimension: 50px;
}

#board {
  display: inline-block;
}

.row {
  height: var(--cell-dimension);
  width: calc(7 * var(--cell-dimension));
  display: flex;
}

.cell {
  height: var(--cell-dimension);
  width: var(--cell-dimension);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  position: relative;
}

.empty {
  height: var(--piece-dimension);
  width: var(--piece-dimension);
  background-color: white;
  border-radius: 50%;
}

.red {
  height: var(--piece-dimension);
  width: var(--piece-dimension);
  background-color: red;
  border-radius: 50%;
}

.blue {
  height: var(--piece-dimension);
  width: var(--piece-dimension);
  background-color: yellow;
  border-radius: 50%;
}