:root {
  --cell-dimension: 100px;
  --piece-dimension: 80px;
}

#board {
  display: inline-block;
}

.row {
  height: var(--cell-dimension);
  width: calc(7 * var(--cell-dimension));
  display: flex;
}

.cell {
  height: var(--cell-dimension);
  width: var(--cell-dimension);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  position: relative;
}

.empty {
  height: var(--piece-dimension);
  width: var(--piece-dimension);
  background-color: white;
  border-radius: 50%;
}

.red {
  height: var(--piece-dimension);
  width: var(--piece-dimension);
  background-color: red;
  border-radius: 50%;
}

.yellow {
  height: var(--piece-dimension);
  width: var(--piece-dimension);
  background-color: yellow;
  border-radius: 50%;
}

#dropzone {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.drop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cell-dimension);
  width: 100px;
}

#piece {
  width: var(--piece-dimension);
  height: var(--piece-dimension);
  border-radius: 50%;
}

.drop:hover #piece {
  background-color: var(--hover-color);
}